.gridContainer {
    background-color: var(--ctp-mantle);
    padding: 2rem;
}

.grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto auto;
    overflow-y: auto;
    background: var(--ctp-surface0);
    gap: 5px;
    border: 5px solid var(--ctp-surface0);
}

.playerItem {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: subgrid;
}

.playerName {
    grid-column: 1;
    background-color: var(--ctp-base);
}

.playerDeaths {
    grid-column: 2;
    background-color: var(--ctp-base);
}