.trackerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100vw;
  gap: 3vw;
  align-items: end;
  /* padding: 1rem 0 2rem 0; */
  border: 1px solid black;
}

@media (width < 600px) {
  .trackerContainer {
    display: flex;
    flex-direction: column;
  }
}

.deathCount {
  margin: 0 0 8rem 8vw;
}

.nextBossPoll {
  margin: 0 8vw 8rem 0;
  min-width: 15rem;
}
