.msgContainer {
  flex: 1;
  background-color: var(--ctp-surface2);
  overflow-y: auto;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.msg {
  max-width: 75%;
  flex-direction: column;
  display: flex;
}

.msgUser {
  align-self: flex-end;
  align-items: flex-end;
}

.msgBot {
  align-self: flex-start;
  align-items: flex-start;
}

.msgInfo {
  align-self: center;
  align-items: center;
  text-align: center;
}

.msgError {
  align-self: center;
  align-items: center;
  text-align: center;
  color: var(--ctp-red);
}

.msgUser > div:first-child {
  background: var(--ctp-surface0);
  border-radius: 0.75rem;
  border-bottom-right-radius: 0.25rem;
  border: 0.15rem solid var(--ctp-text);
  max-width: 100%;
  margin: 0;
}

.msgBot > div:first-child {
  background: var(--ctp-mantle);
  border-radius: 0.75rem;
  border-bottom-left-radius: 0.25rem;
  border: 0.15rem solid var(--ctp-text);
  max-width: 100%;
}

.msgTxt {
  margin: 0.25rem 0.5rem;
  font-size: 0.75rem;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.msgTime {
  font-size: 0.5rem;
  margin: 0;
}
