.title,
.title2 {
  font-family: Cambria, Helvetica, Arial;
  font-weight: bold;
  letter-spacing: 0.5ch;
  color: var(--ctp-red);
  text-transform: uppercase;
  -moz-user-select: none;
  user-select: none;
}

.title {
  font-size: 3rem;
}

.title2 {
  font-size: 1.5rem;
}

.subtitle {
  font-family: 'Franklin Gothic Medium', Helvetica, monospace;
  font-weight: bold;
  color: var(--ctp-sky);
}
