.pollArea {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-height: 25rem;
  background-color: var(--ctp-mantle);
  border: 5px solid var(--ctp-surface0);
  overflow-y: auto;
  gap: 0.2rem;
  padding-bottom: 1rem;
}

.titleBox {
  margin: 1rem 1rem 0.25rem 1rem;
  text-align: center;
  overflow-wrap: break-word;
}

.title {
  font-family: Cambria, Helvetica, Arial;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.5ch;
  color: var(--ctp-red);
  text-transform: uppercase;
}

.legend {
  display: flex;
  direction: row;
  gap: 5%;
  justify-content: center;
  margin: 0 1rem 0 1rem;
}

.legendToday {
  color: var(--ctp-peach);
  text-align: center;
}

.legendAvailable {
  color: var(--ctp-sky);
  text-align: center;
}

.todayHeader,
.availableHeader,
.availableTodayHeader,
.unavailableHeader {
  display: flex;
  font-size: 1rem;
  width: 100%;
  height: auto;
  aspect-ratio: 2;
}

.todayHeader {
  background-color: var(--ctp-peach);
  color: var(--ctp-surface0);
}

.availableHeader {
  background-color: var(--ctp-sky);
  color: var(--ctp-surface0);
  position: relative;
}

.availableTodayHeader {
  width: 100%;
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
  background-color: var(--ctp-peach);
  color: var(--ctp-surface0);
  position: absolute;
}

.unavailableHeader {
  background-color: var(--ctp-surface0);
}

.dayTimeSelectionGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  box-sizing: border-box;
  background-color: var(--ctp-mantle);
  gap: 3px;
  margin: 0 1rem 0 1rem;
  cursor: pointer;
  -moz-user-select: none;
  user-select: none;
}

.dayGridItem {
  display: grid;
  grid-template-rows: repeat(11, 1fr);
}

.timeGridItemSelectable,
.timeGridItemDisabled {
  display: grid;
  grid-template-columns: subgrid;
  border-bottom: 1px dashed var(--ctp-surface0);
  font-size: 0.7rem;
  padding-left: 0.1rem;
}

.timeGridItemSelectable {
  background-color: var(--ctp-overlay0);
}

.timeGridItemSelectable[selected] {
  background-color: var(--ctp-green);
  color: var(--ctp-surface0);
}

.timeGridItemDisabled {
  background-color: var(--ctp-surface1);
}

.buttonBar {
  display: flex;
  flex-direction: row;
  height: auto;
  margin: 0.75rem 1rem 0 1rem;
  justify-content: space-around;
}

.userDropdownButton {
  background-color: var(--ctp-surface1);
  text-align: center;
  align-content: center;
  cursor: pointer;
  padding: 0.5rem;
}

.userDropdownButton:hover,
.userDropdownButton:focus {
  background-color: var(--ctp-surface0);
}

.userDropdown {
  position: relative;
  display: inline-block;
  width: 40%;
  margin-top: 1rem;
}

.userDropdownContent {
  display: none;
  position: absolute;
}

.userButton {
}

.submissionArea {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 50%;
  row-gap: 0.5rem;
}

.questionMark {
  width: 1.2rem;
  height: 1.2rem;
  font-family: monospace;
  font-size: 1rem;
  text-align: center;
  align-content: flex-start;
  line-height: normal;
  border: 1px solid var(--ctp-surface1);
  border-radius: 50%;
  cursor: pointer;
}

.toolTip {
  visibility: hidden;
  margin: -0.25rem 0 0 0.5rem;
  font-size: 0.7rem;
}

.questionMark:hover {
  border: 1px solid var(--ctp-red);
  filter: blur(0.1rem);
}

.questionMark:hover ~ .toolTip {
  visibility: visible;
}

.submitButton {
  grid-column: 1 / span 2;
  background-color: var(--ctp-overlay0);
  width: 100%;
  aspect-ratio: 6;
  text-align: center;
  color: var(--ctp-crust);
  align-content: center;
  cursor: pointer;
}

.submitButton:hover {
  background-color: var(--ctp-sky);
}
