.title {
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.bulletedList {
  text-align: left;
  display: flex;
  padding: 1rem;
  background-color: var(--ctp-mantle);
  border: 5px solid var(--ctp-surface0);
  border-radius: 3rem;
}

